PGGSSENCMODE=disable
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
GANDI_API_KEY=your-gandi-api-key
GANDI_HOST=rpc.gandi.net
GANDI_DOMAIN_API_KEY=your-gandi-domain-api-key
GANDI_DOMAIN_HOST=rpc.ote.gandi.net
GANDI_MAIL_DOMAIN=yourdomain.com
SECRET_TOKEN=generate-with-rails-secret
DEVISE_SECRET_KEY=generate-with-rails-secret
GANDI_CONTACT_OWNER=YOUR-GANDI-CONTACT
GANDI_NAMESERVERS=a.dns.gandi.net b.dns.gandi.net c.dns.gandi.net
GANDI_CONTACT=YOUR-GANDI-CONTACT
SEARCH_TLDS=com net org se info io it
ALLOW_USER_REGISTRATION=0
PORT=1234
