<div class="row">
  <div class="col-4 col-lg-12">
    <a href="<%= bookmarklet %>" class="btn btn-info">Spicyham bookmarklet</a>
  </div>
  <div class="col-8 col-lg-12">
    <p>Drag button to bookmark field or right click and add to bookmarks/favorites.</p>
  </div>
</div>
