<div class="row">
  <div class="col-5 col-sm-4 col-lg-12 d-lg-flex justify-content-center">
    <a href="<%= bookmarklet %>" class="btn btn-info btn-white">
      <%= icon(:bookmark) %>
      Spicyham bookmarklet</a>
  </div>
  <div class="col-7 col-sm-8 col-lg-12">
    <p class="pl-2 pl-lg-0"><small>Drag button to bookmark field or right click and add to bookmarks/favorites.</small></p>
  </div>
</div>
