<div class="form-horizontal">
<%= form_tag domain_search_path, method: 'get', class: 'form-search' do %>
  <div class="form-row">
    <div class="col-10">
      <%= text_field_tag :domain, nil, class: 'form-control input-medium search-query' %>
    </div>
    <div class="col">
      <button name="submit" type="submit" class="btn btn-primary">
        <%= icon_button("Search", :search) %>
      </button>
    </div>
  </div>
<% end %>
</div>

