<h1>Domain list</h1>
<table class="table table-striped">
  <tr>
    <th>Domain</th>
    <th>Created</th>
    <th>Updated</th>
    <th>Status</th>
  </tr>
  <% @domains.each do |domain| %>
    <tr>
      <td><%= domain[:fqdn] %></td>
      <td><%= domain[:date_created] %></td>
      <td><%= domain[:date_updated] %></td>
      <td><%= domain[:status].join(', ') %></td>
    </tr>
  <% end %>
</table>

