<h1>Domain search result</h1>

<table class="table table-striped table-hover">
  <tbody>
  <% @domain_info.each do |domain, status| %>
    <tr>
      <td><%= domain %></td>
      <td>
      <% if status == "available" %>
        <%= link_to icon_button('Buy', 'shopping-cart'),
          domain_create_path + "?" + { domain: domain }.to_param,
          class: "btn btn-success btn-small",
          method: :post, data: { confirm: 'Are you sure?' } %>
      <% else %>
        Unavailable
      <% end %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>
