.main-content {
  margin-top: 1em;
}

.container, .container-sm, .container-md {
  max-width: 760px;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar.collapsed {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-toggler {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-nav .nav-item {
  padding-top: 0.3rem;
}

.nav-item a {
  color: rgba(0, 0, 0, 0.5);
}

.list-group-item {
  padding: 0.5rem 1rem;
}

.sidebar-nav li {
  list-style-type: none;
}

footer {
  margin-top: 1em;
}

.toolbar {
  margin-bottom: 1em;
}

.navbar .octicon {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.octicon {
  margin-right: 0.25rem;
}

.btn-sm .octicon {
  margin-bottom: 0.125rem;
  margin-right: 0;
}

.nav-item .octicon path,
.btn-black .octicon path {
  fill: black;
}

.btn-black:hover .octicon path {
  fill: white;
}
.octicon path {
  fill: white;
}

.test-api-success .octicon path {
  fill: green;
}

.test-api-failed .octicon path {
  fill: red;
}

.navbar-light .navbar-collapse {
  border-color: #e7e7e7;
}

.combobox-container {
  width: 100%;
}
