<h1>Listing emails</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Destinations</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td><%= email['source'] %></td>
        <td><%= email['destinations'].join(', ') %></td>
        <td><%= link_to 'Destroy', email_path(email['source']), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h3>New email</h3>
<%= render 'form' %>
