<h1>Email forwards</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Address</th>
      <th>Destinations</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td><%= email[:source] %></td>
        <td><%= email[:destinations].join(', ') %></td>
        <td>
          <%= link_to '<i class="icon-remove"></i> Delete'.html_safe, email_path(email[:source]), class: "btn btn-danger",
            method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="well">
  <h3>Add forwarding</h3>
  <%= render 'form' %>
</div>
