<li><%= link_to "Emails", emails_path %></li>
<li><%= link_to "Zones", zone_path %></li>
<li><%= link_to "Domains", domain_list_path %></li>
<li><%= link_to "Web redirs", domain_webredir_path %></li>
