<li><%= link_to glyph('envelope') + " Emails", emails_path %></li>
<li><%= link_to glyph('globe') + " Zones", zone_path %></li>
<li><%= link_to glyph('briefcase') + " Domains", domain_list_path %></li>
<li><%= link_to glyph('share') + " Web redirs", domain_webredir_path %></li>
